:root {
  --Black: rgb(0, 0, 0);
  --Grey: rgb(93, 93, 93);
  --Blue: rgb(34, 47, 91);
  --DarkBlue: rgb(14, 26, 64);
  --White: rgb(239, 240, 244);
  --Tan: rgb(148, 107, 45);
}

.page-background {
  background-color: var(--White);
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--White);
  border-radius: 15px 15px;
  border-width: 3px;
  border-style: solid;
  border-color: var(--Black);
  margin: 20px;
}

header h1 {
  background-color: rgb(70, 94, 154);
  padding: 5px 1% 5px 6%;
  margin: 0;
  border-width: 3px;
  border-style: solid;
  border-color: var(--Black);
  margin: 20px;
}

.page-nav {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding: 10px;
  word-spacing: 40px;
  color: var(--White);
  font-size: 24px;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: rgb(70, 94, 154);
  border-radius: 15px 15px;
  border-width: 3px;
  border-style: solid;
  border-color: var(--Black);
  margin: 20px;
}

.aboutme {
  border-width: 3px;
  border-style: solid;
  border-color: var(--Black);
  border-radius: 2px;
  color: var(--White);
  background-color: var(--Black);
  border-radius: 15px 15px;
}

.projects {
  margin-bottom: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: var(--Black);
  border-radius: 2px;
  color: var(--White);
  background-color: var(--Black);
  border-radius: 15px 15px;
}

.resume {
  border-width: 3px;
  border-style: solid;
  border-color: var(--Black);
  border-radius: 2px;
  color: var(--White);
  background-color: var(--Black);
  border-radius: 15px 15px;
}

.contact {
  border-width: 3px;
  border-style: solid;
  border-color: var(--Black);
  border-radius: 2px;
  color: var(--White);
  background-color: var(--Black);
  border-radius: 15px 15px;
}

.page-about-me {
  border-width: 3px;
  border-style: solid;
  border-color: var(--Black);
  border-radius: 2px;
  color: var(--White);
  background-color: rgb(70, 94, 154);
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-about-me-img {
  background-image: url("Images/IMG_3103.PNG");
  background-size: 100%;
  width: 150px;
  height: 250px;
}

.page-about-me h1 {
  order: -1;
}

.page-about-me p {
  text-align: center;
  padding: 0 10%;
}

.page-projects {
  font-size: 22px;
  text-align: center;
  background-color: rgb(70, 94, 154);
  color: var(--White);
  border-radius: 15px 15px;
  border-width: 3px;
  border-style: solid;
  border-color: var(--Black);
  margin: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content: space-between;
  text-align: center;
}

.project-calorie-tracker {
  margin-left: 20px;
  margin-right: 20px;
  background-image: url("Images/calorietracker.png");
  background-size: 60%;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 40vh;
  color: var(--Black);
  padding: 2% 6%;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 25px;
  position: relative;
}

.project-calorie-tracker span {
  display: inline-block;
  background-color: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  border-radius: 20px;
  position: absolute;
}

.project-pet-care-tracker {
  margin-right: 20px;
  background-image: url("Images/petcare.jpg");
  background-size: 60%;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 40vh;
  color: var(--Black);
  padding: 2% 6%;
  display: flex;
  flex-direction: row;
  font-size: 25px;
  text-align: center;
  position: relative;
}

.project-pet-care-tracker span {
  display: inline-block;
  background-color: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  border-radius: 20px;
  position: absolute;
}

.project-sports-updates {
  margin-right: 20px;
  background-image: url("Images/sportsnews.jpg");
  background-size: 60%;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 40vh;
  color: var(--Black);
  padding: 2% 6%;
  display: flex;
  flex-direction: row;
  font-size: 25px;
  text-align: center;
  position: relative;
}

.project-sports-updates span {
  display: inline-block;
  background-color: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  border-radius: 20px;
  position: absolute;
}

.project-weather-report {
  background-image: url("Images/weather-updates.png");
  background-size: 60%;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 40vh;
  color: var(--Black);
  padding: 2% 6%;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-right: 20px;
  position: relative;
}

.project-weather-report span {
  display: inline-block;
  background-color: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  border-radius: 20px;
  position: absolute;
}

.page-contact {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  word-spacing: 40px;
  font-size: 18px;
  color: var(--White);
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: rgb(70, 94, 154);
  border-radius: 15px 15px;
  border-width: 3px;
  border-style: solid;
  border-color: var(--Black);
  margin: 20px;
}
